<?xml version="1.0"?>
<!-- Basic quad drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="quaddrive_robot">
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find robot_demo_description)/urdf/quadbot_description.urdf.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find robot_demo_description)/urdf/quadbot.materials.xacro" />

  <!-- Import quadbot ros2_control description -->
  <!-- <xacro:include filename="$(find robot_demo_description)/ros2_control/quadbot.ros2_control.xacro" /> -->

  <xacro:quadbot prefix="$(arg prefix)" />

  <!-- <xacro:quadbot_ros2_control name="quadbot" prefix="$(arg prefix)" /> -->

</robot>